In [ ]:
import pandas as pd
import numpy as np
from tensorflow import keras
from sklearn.model_selection import train_test_split

df = pd.read_csv ("/content/boston_housing_dataset.csv")
df.head ()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
df.shape

(506, 14)

In [ ]:
df.isnull ().sum ()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [ ]:
df.info

<bound method DataFrame.info of         crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [ ]:
x = df.drop (['medv'], axis =1).values
y = df['medv'].values

x_train, x_test, y_train, y_test = train_test_split (x, y, test_size = 0.2, random_state = 42)

In [ ]:
model = keras.Sequential ([keras.layers.Dense (units = 1, input_shape = [13])])

model.compile (loss = 'mean_squared_error', optimizer = 'adam')

history = model.fit (x_train, y_train, validation_split = 0.2, epochs = 100, batch_size = 10, verbose = 0)

test_loss = model.evaluate (x_test, y_test, verbose = 0)

print ("Test Loss : ", test_loss)

Test Loss :  62.94137191772461

In [ ]:
predictions = model.predict (x_test)

for i in range (10):
  print ("Actual price : ", y_test[i], "Predicted Price : ", predictions [i][0])

4/4 [==============================] - 0s 2ms/step
Actual price :  27.5 Predicted Price :  24.427633
Actual price :  21.6 Predicted Price :  27.357164
Actual price :  17.7 Predicted Price :  23.096056
Actual price :  24.3 Predicted Price :  27.647602
Actual price :  22.2 Predicted Price :  22.665709
Actual price :  50.0 Predicted Price :  25.347036
Actual price :  18.6 Predicted Price :  33.53232
Actual price :  10.2 Predicted Price :  17.481863
Actual price :  11.3 Predicted Price :  17.366508
Actual price :  25.3 Predicted Price :  21.2407